<!doctype html>
<title>Choose a New Password</title>
<main>
<h2>Choose a New Password</h2>
<hr>
{% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
{% endfor %}
<form method="post">
  <p>
    <label for="password">New password:</label><br>
    <input id="password" type="password" name="password" required>
  </p>
  <p>
    <label for="confirm_password">Confirm password:</label><br>
    <input id="confirm_password" type="password" name="confirm_password" required>
  </p>
  <p><input type="submit" value="Reset Password"></p>
</form>
<hr>
<p><a href="/login">Back to Login</a></p>
</main>
